<!DOCTYPE html>
<html>
<head>
    <title>Hanging With Friends - Word Solver</title>
    <meta charset="UTF-8" name="Description" content="Solve words with this simple, fast, easy-to-use tool 
        for the popular online version of hangman, Hanging With Friends.">
</head>
<body>
    <div id="top">
        <div id="loading">Loading<img src="assets/images/loading.gif"/></div>
        <div id="top-center">
            <span class="title">hangsolve</span>
            <div class="sup" title="n.  a simple, fast, easy-to-use word finder for the popular online version of hangman, Hanging With Friends."><span id="sup">1</span></div>
            <div class="subtitle"><span>n.  a simple, fast, easy-to-use word finder for the popular online version of hangman, Hanging With Friends.</span></div>
        </div>
    </div>
    <div id="middle">
	    <div id="lettersContainer">
	       <div id="letters"></div>
	       <div class="buttons">
		       <button id="match" class="button">Match</button>
		       <button id="reset" class="orangeButton">Reset</button>
		   </div>   
	    </div>
	    <div><input id="exclude"/></div>
	    <div id="lettersToGuess">
	    </div>
	    <div id="results">
		    <div id="matches"></div>
		</div>
	</div>
	<div id="footer">
	   &copy; 2012 Kyle Traff
	</div>
</body>
</html>

<link href="lib/jquery-ui-1.9.2.custom/css/ui-lightness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="lib/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="lib/underscore-min.js"></script>
<script type="text/javascript" src="lib/backbone-min.js"></script>
<script type="text/javascript" src="lib/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="lib/hangman.js"></script>
<script type="text/javascript" src="data/words.js"></script>
<script type="text/javascript">
    $(function () { Hangman.app = new Hangman.Views.App({ el: 'body', model: new Hangman.Models.Token() }) });
</script>
<script type="text/template" id="letterTemplate">
    <div id="letter-<%= id %>" class="letter-holder inactive"></div>
    <input class="letter" autocomplete="off" type="text">
</script>
<script type="text/template" id="lettersToGuessTemplate">
    <h3>Top Letters</h3>
    <ol>
    <% for(var i = 0; i < lettersToGuess.length; i++) { %>
        <li><span class="letterToGuess"><%= lettersToGuess[i].letter %> (<%= ((lettersToGuess[i].value / totalCount) * 100).toFixed(1) %>%)</span></li>
    <% } %>
    </ol>
</script>
<script type="text/template" id="matchesTemplate">
    <% _.each(matches, function (match) { %>
        <div class="match"><%= match.word %></div>
    <% }); %>
</script>

